<h3>To search restaurant click on bellow link: </h3>
<ul>
    <li>
        <h4><a href="/searchRestaurant">Search Restaurant</a></h4>
    </li>
</ul>

<h3>Here are some links to connect to developer: </h3>
<ul>
    <li>
        <h4><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/nitin-chaturvedi-b2348333">Linked in
                Profile</a></h4>
    </li>
    <li>
        <h4><a target="_blank" rel="noopener" href="https://www.xing.com/profile/Nitin_Chaturvedi4/cv">Xing Profile</a>
        </h4>
    </li>
    <li>
        <h4><a target="_blank" rel="noopener" href="https://github.com/nitin-chaturvedi/RestaurantSearch">Code in GitHub</a></h4>
    </li>
</ul>